* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primario: #E5E5E5;
    --color-secundario: #0A3871;
    --color-terciario: #ffffff;
    
}

body {
    display: flex;
    
    background-color: var(--color-primario);
    margin-bottom: 10px;

}


/* HEADER */
header {

    height: 100vh;
    width: 10vw;

}

header img {

    margin: 30px 10px;

}




/* MAIN */
.container__general {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-primario);
    margin: auto;
    
    height: 85vh;
    width: 90vw;




}


/* SECCION 1 */
.container1 {
    height: 100%;
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    





}



textarea {
    background-color: var(--color-primario);
    font-size: 32px;
    flex-direction: row;
    width: 100%;
    height: auto;
    resize: none;

}


.container__informacion__botones {
    align-items: end;

}

.texto__ingresado::placeholder {
    color: var(--color-secundario);
}




.container__informacion {
    display: inline-flex;
    gap: 10px;
}

.container__botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;







}

button {
    border-radius: 24px;
    border: solid 1px var(--color-secundario);
    width: 250px;
    height: 67px;
    cursor: pointer;
    margin: 10px auto;



}


#encriptador {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

#desencriptador {
    color: var(--color-secundario);
}

/* SECCION 2 */
.container2 {
    width: 280px;
    height: 100%;
    margin: auto;
    justify-content: center;
}

/* .container2__encriptado {
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 0 solid;
    background-color: var(--color-terciario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

} */

.container2__contenido {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 0 solid;
    background-color: var(--color-terciario);

}

.container2__contenido__elementos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.container2__contenido img {
    width: 80%;
    height: auto;
}

.container2__contenido__encriptado {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 32px;
    border: 0 solid;
    background-color: var(--color-terciario);
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-top: 15px;

}

.container2__encriptado__elementos {
    width: 100%;
    height: 100%;
}

.mensaje {
    background-color: var(--color-terciario);
    border: none;
    font-size: 16px;
    text-align: left;
    
    height: 80%;
    width: 90%;





}

.boton__copiar {

    /* align-self: self-end; */
    background-color: var(--color-terciario);
}





/* FOOTER */



@media (max-width: 768px) {

    body {
        flex-wrap: wrap;
    }


    header {
        width: 100vw;
        height: 15vh;

    }

    .container__general {
        height: 85vh;
        width: 95vw;
        display: flex;


    }



    .container1 {
        width: 100%;
        margin: 5px 0;
        height: auto;
        justify-content: center;
    }

    .container2 {
        width: 100%;
        
        margin: 5px auto;

    }




    /* .container2__encriptado {
        justify-content: center;
        width: 100%;
        
    } */

    .container2__contenido {

        width: 100%;
        height: 30%;

    }

    .container2__contenido__elementos {
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        text-align: center;


    }

    .container2__contenido__encriptado {
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    /* reemplazos de prueba */









    button {
        width: 100%;
    }

    .container2__contenido img {
        display: none;
    }

    .boton__copiar {
        width: 90%;
        height: 67px;
    }

    .mensaje {

        background-image: none;

        width: 90%;
        height: 80%;
    }
}