* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --color-primario: #E5E5E5;
    --color-secundario: #0A3871;
    --color-terciario: #ffffff;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--color-primario);
}


/* HEADER */
/* header {
    width: 100%;
    height: auto;
} */


/* MAIN */
.container__general {
    display: flex;
    justify-content: center;
    background-color: var(--color-primario);
    margin: 40px auto;

}

.container__texto__entrante {
    width: 41.75em;
    height: 944px;
    flex-direction: column;
    
}

textarea {


    background-color: var(--color-primario);
    font-size: 32px;
    flex-direction: row;
    width: 680px;
    height: auto;
    margin: 0;
    resize: none;

}

.texto__ingresado::placeholder {
    color: var(--color-secundario);
}

/* SECCION 1 */
.container1 {
    padding: 40px;
}

.container__informacion {
    display: inline-flex;
    gap: 10px;
}

.container__botones {
    display: flex;
    justify-content: space-between;
    
    




}

button {
    border-radius: 24px;
    border: solid 1px var(--color-secundario);
    width: 328px;
    height: 67px;
    cursor: pointer;
    margin: 30px auto;
    


}


#encriptador {
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

#desencriptador {
    color: var(--color-secundario);
}

/* SECCION 2 */
.container2 {
    padding: 40px;
}

.container2__texto {
    width: 400px;
    height: 944px;
    border-radius: 32px;
    border: 0 solid;
    background-color: var(--color-terciario);
    display: flex;
    justify-content: center;
    align-items: end;

}

.boton__copiar {


    background-color: var(--color-terciario);
}





/* FOOTER */